.card img {
  width: 180px;
  height: auto;
}

.user-card img {
  width: 180px;
  height: auto;
}

.card {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.card:hover {
  background: rgba(240, 240, 213, 0.678);
  cursor: pointer;
}

.owned-games {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.user-games {
  border: seagreen;
  border-style: solid;
}

.user-games:hover {
  background: rgba(240, 240, 213, 0.678);
  cursor: pointer;
}

.user-games img {
  width: 60px;
  height: auto;
}
.form-area {
  margin-top: 40px;
  width: 80%;
  margin: auto;
}
.react-datepicker__input-container > input {
  width: 240px;
}
.meetUpWrap {
  width: 100%;
}
.profile-dashboards {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
