.card img {
  width: 180px;
  height: auto;
}

.user-card img {
  width: 180px;
  height: auto;
}

.card {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.card:hover {
  background: rgba(240, 240, 213, 0.678);
  cursor: pointer;
}
